<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Contenido Exclusivo{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <header>
        <nav class="navbar-content">
            <div class="container">
                <div class="navbar-left">
                    <div class="logo-container">
                        <a href="{% url 'home' %}" class="logo-box">
                            <img src="{% static 'images/logo2.png' %}" alt="Logo" class="logo">
                        </a>
                    </div>
                </div>

                <div class="navbar-right navbar-menu">
                    <a href="{% url 'home' %}">Inicio</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}">Mi Perfil</a>
                        <a href="{% url 'media' %}">Galeria</a>
                        <a href="{% url 'prices' %}">Precios</a>
                        <a href="{% url 'meeting' %}">Agendar Cita</a>
                        {% if user.is_staff or user.is_staff %}
                            <a href="{% url 'admin_panel:admin_dashboard' %}">Panel de Admin</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                    {% else %}
                        <a href="{% url 'register' %}">Registrarse</a>
                        <a href="{% url 'login' %}">Iniciar Sesión</a>
                    {% endif %}
                </div>

                <div class="navbar-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>

    <main class="container" role="main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer-content">
        <div class="container">
            <p>© 2024 Mi Contenido Exclusivo. Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>